* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html {
    color: white;
}

a {
    color: inherit;
    text-decoration: underline;
}

body { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background: linear-gradient(to right, #457fca, #5691c8); */
    /* background: lightblue; */
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    height: 100vh;
    justify-content: space-between;
    /* width: 100vw; */
    /* margin: 0 auto; */
    /* text-align: center; */
    /* vertical-align: middle; */
    /* min-height: 100%; */
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rebeccapurple;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    max-width: 100%;
}

.topnav h1 {
    max-width: 15em;
    /* font-size: clamp(0.75rem,  5vw, 1.5rem); */
    font-size: 1.5vw;
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rebeccapurple;
    box-shadow: 0 -3px 4px -2px rgba(0,0,0,.2);
    max-width: 100%;
}

footer h1 {
    max-width: 20em;
    /* font-size: clamp(0.75rem,  5vw, 1rem); */
    font-size: 1.25vw;
    text-align: center;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name img {
    max-width: 10%;
    /* height: auto; */
    margin-left: 7px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 86%;
    /* background-color: red; */
}

.info-section {
    display: inline-block;
    /* justify-content: center;
    align-items: center; */
    /* height: 800px; */
    /* height: 85vh; */
    height: 95%;
    width: 40%;
    /* background-color: white; */
    /* margin-left: 5rem; */
    border-radius: 3rem;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0 , 0, 0, .2);
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
}

.details-container {
    /* background-color: lightgoldenrodyellow; */
    /* height: 90.5%; */
    height: 90%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    border-radius: 0rem 0rem 3rem 3rem;
}

.city-container {
    height: 10%;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 2.5rem; */
    border-radius: 3rem 3rem 0rem 0rem;
    /* background-color: rgba(255, 70, 70, 0.349); */
    /* background-color: #009966a9; */
    background: rgba(255, 255, 255, .1);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    /* width: auto; */
}

.city-name {
    /* background-color: green; */
    /* font-size: clamp(0.75rem,  5vw, 2.2rem); */
    font-size: 3vw;
    /* font-size: 2.2rem; */
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    padding-right: 3%;
    /* border-radius: 2rem; */
}

.aqi-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: rgb(139, 65, 65); */
    /* margin-top: 2.5%; */
    margin-top: 4%;
    margin-bottom: 4%;
    width: 100%;
}

.aqi-text, .level-text{
    /* font-size: clamp(0.75rem,  1.5vw, 1.75rem); */
    font-size: 1.5vw;
    background-color: green;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 2rem;
}

.guide {
    /* font-size: clamp(0.75rem,  2vw, 1.5rem); */
    font-size: 1.7vw;
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 5%; */
    /* font-size: 1.5rem; */
    /* margin-top: 2%; */
    background: rgba(255, 255, 255, .1);
    border-top: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
}

.description {
    display: flex;
    flex-direction: column;
    /* font-size: .8rem; */
    /* font-size: clamp(0.8rem,  1vw, 1rem); */
    font-size: 1vw;
    text-align: center;
    /* height: 350px; */
    height: 48%;
    /* background-color: #04AA6D; */
    justify-content: space-evenly;
    /* padding-left: 6%;
    padding-right: 6%; */
    /* margin: auto; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}

.description li {
    /* padding-bottom: 4%; */
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* font-size: 1.25rem; */
}

td, th {
    border: 1px solid #ddd;
    /* padding: 8px; */
    padding: 0.4rem;
    text-align: center;
    /* font-size: clamp(0.5rem,  1vw, 0.8rem); */
    font-size: 1vw;
    /* font-size: 0.9rem; */
}

th {
    /* padding-top: 12px;
    padding-bottom: 12px; */
    /* background-color: #04AA6D; */
    background: rgba(255, 255, 255, .1);
    color: white;
    /* font-size: clamp(0.4rem,  0.8vw, 0.9rem); */
    font-size: 0.8vw;
    /* font-size: 0.8rem; */
}

.disclaimer {
    /* font-size: 0.6rem; */
    font-size: 0.75vw;
    text-align: center;
    /* margin-top: 8%; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.map-box {
    display: flex;
    justify-content: space-evenly;
    padding: 0.75rem;
    /* background-color: green; */
    border-radius: 3rem;
    /* width: 720px; */
    width: 40%;
    /* height: 85vh; */
    height: 95%;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0 , 0, 0, .2);
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
}

.level-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    align-self: center;
    /* background-color: rgb(197, 120, 120); */
    height: 75%;
    /* margin-left: 10%; */
    margin: 0rem 1rem;
    
}

.l1, .l2, .l3, .l4, .l5, .l6 {
    height: 100%;
    width: 20px;
}

.l1 {
    background-color: #7e0024c7;
    border-radius: 2rem 2rem 0rem 0rem;
}

.l2 {
    background-color: #660099c7;
}

.l3 {
    background-color: #cc0033c7;
}

.l4 {
    background-color: #ff9933c7;
}

.l5 {
    background-color: #ffde33c7;
}

.l6 {
    background-color: #009966c7;
    border-radius: 0rem 0rem 2rem 2rem;
}

svg {
    width: 28;
    width: auto;
    /* height: 750px; */
    /* height: 50rem; */
}

svg * {
    width: 100%;
    height: 100%;
}

.sri-lanka-map {
    height: 100%;
    /* margin: 0 5rem; */

}

.sri-lanka-map path {
    /* fill: gray; */
    stroke: rgb(1, 34, 78);
    fill: rgba(255, 255, 255, .1);
}

#LKA2448:hover,
#LKA2449:hover,
#LKA2450:hover,
#LKA2451:hover,
#LKA2452:hover,
#LKA2453:hover,
#LKA2454:hover,
#LKA2455:hover,
#LKA2456:hover,
#LKA2457:hover,
#LKA2458:hover,
#LKA2459:hover,
#LKA2460:hover,
#LKA2461:hover,
#LKA2462:hover,
#LKA2463:hover,
#LKA2464:hover,
#LKA2465:hover,
#LKA2466:hover,
#LKA2467:hover,
#LKA2468:hover,
#LKA2469:hover,
#LKA2470:hover,
#LKA2471:hover,
#LKA2472:hover {
    /* fill: white;
    fill-opacity: 0.5; */
    /* fill: rgba(0, 0, 0, 0.171); */
    fill: rgba(255, 255, 255, 0.514);
    transition: all 0.5s ease;
    cursor: pointer;
}

/* Tabs and Mobile Resolution */
@media (max-width: 1050px) {

    html,
    body {
        height:auto!important;
        min-height:100vh;
        min-width: 100vw;
    }

    .topnav h1 {
        font-size: clamp(0.75rem,  5vw, 1rem);
    }

    .main-container {
        margin: 5% 0;
        flex-direction: column-reverse;
        min-height: auto;
    }

    .map-box {
        margin-bottom: 2.5%;
        width: 90%;
    }

    .level-list {
        height: 40vh;
    }

    .l1, .l2, .l3, .l4, .l5, .l6 {
        width: 10px;
    }

    .info-section {
        width: 90%;
        height: auto;
    }

    .city-name {
        font-size: clamp(0.5rem,  6vw, 2.2rem);
        margin-bottom: 2%;
    }

    .aqi-text, .level-text{
        font-size: clamp(0.75rem,  3vw, 1.9rem);
    }

    .guide {
        margin-bottom: 4%;
    }
    
    .description {
        font-size: clamp(0.7rem, 1.2vw, 1.25rem);
        height: auto;
        margin: auto;
    }

    .description li {
        padding-bottom: 4%;
    }

    td, th {
        font-size: clamp(0.5rem,  1vw, 0.8rem);

    }
    
    th {
        font-size: clamp(0.4rem,  0.8vw, 0.9rem);

    }

    .disclaimer {
        font-size: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    footer h1 {
        font-size: clamp(0.75rem,  5vw, 0.8rem);
    }
}

/* 1440P Resolution */
@media (min-width: 2560px) {

    /* .topnav h1 {
        font-size: clamp(0.75rem,  5vw, 2.5rem);
    }     */

    .info-section {
        border-radius: 6rem;
    }

    .details-container {
        border-radius: 0rem 0rem 6rem 6rem;
    }

    .city-container {
        border-radius: 6rem 6rem 0rem 0rem;
    }

    /* .city-name {
        font-size: clamp(0.5rem,  6vw, 4.4rem);
    } */

    /* .aqi-text, .level-text{
        font-size: clamp(0.75rem,  3vw, 2.5rem);
    } */

    .guide {
        font-size: clamp(0.75rem,  2vw, 2.8rem);
    }

    .description {
        /* font-size: clamp(0.7rem, 1.2vw, 2.25rem); */
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }

    td, th {
        padding: 0.7rem;
        /* font-size: clamp(0.5rem,  1vw, 1.5rem); */
    }
    
    th {
        /* font-size: clamp(0.4rem,  0.8vw, 1.7rem); */
    }

    .disclaimer {
        /* font-size: 1.2rem; */
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .map-box {
        border-radius: 6rem;
    }

    .l1, .l2, .l3, .l4, .l5, .l6 {
        width: 30px;
    }

    svg {
        width: 74%;
    }

    footer h1 {
        /* font-size: clamp(0.75rem,  5vw, 2rem); */
    }
}

/* 4K Resolution */
@media (min-width: 3840px) {

    /* .topnav h1 {
        font-size: clamp(0.75rem,  5vw, 3.8rem);
    }     */

    .info-section {
        border-radius: 9rem;
    }

    .details-container {
        border-radius: 0rem 0rem 9rem 9rem;
    }

    .city-container {
        border-radius: 9rem 9rem 0rem 0rem;
    }

    /* .city-name {
        font-size: clamp(0.5rem,  6vw, 6rem);
    } */

    /* .aqi-text, .level-text{
        font-size: clamp(0.75rem,  3vw, 3.5rem);
    } */

    .guide {
        font-size: clamp(0.75rem,  2vw, 3.8rem);
    }

    .description {
        /* font-size: clamp(0.7rem, 1.2vw, 2.5rem); */
        margin-top: 2%;
        margin-bottom: 2%;
    }

    td, th {
        padding: 0.7rem;
        /* font-size: clamp(0.5rem,  1vw, 2rem); */
    }
    
    th {
        /* font-size: clamp(0.4rem,  0.8vw, 2rem); */
    }

    .disclaimer {
        /* font-size: 1.6rem; */
        margin-top: 2.5rem;
        margin-bottom: 2rem;
    }

    .map-box {
        border-radius: 9rem;
    }

    .l1, .l2, .l3, .l4, .l5, .l6 {
        width: 40px;
    }

    svg {
        width: 65%;
    }

    footer h1 {
        /* font-size: clamp(0.75rem,  5vw, 3rem); */
    }
}