* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html {
    color: white;
}

body { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    height: 100vh;
    justify-content: space-between;
}

a {
    color: inherit;
    text-decoration: underline;
}

.loader {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.loader {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #95007c;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }

.topnav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rebeccapurple;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    max-width: 100%;
}

.topnav h1 {
    max-width: 15em;
    font-size: 1.5vw;
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rebeccapurple;
    box-shadow: 0 -3px 4px -2px rgba(0,0,0,.2);
    max-width: 100%;
}

footer h1 {
    max-width: 20em;
    font-size: 1.25vw;
    text-align: center;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name img {
    max-width: 10%;
    margin-left: 7px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 86%;
}

.info-section {
    display: inline-block;
    height: 95%;
    width: 40%;
    border-radius: 3rem;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0 , 0, 0, .2);
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
}

.details-container {
    height: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 0rem 0rem 3rem 3rem;
}

.city-container {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem 3rem 0rem 0rem;
    background: rgba(255, 255, 255, .1);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
}

.city-name {
    font-size: 2.5vw;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    padding-right: 3%;
}

.aqi-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 100%;
}

.aqi-text, .level-text{
    font-size: 1.25vw;
    background-color: green;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 2rem;
}

.guide {
    font-size: 1.7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, .1);
    border-top: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
}

.description {
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    text-align: center;
    height: 48%;
    justify-content: space-evenly;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}

.description li {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid #ddd;
    padding: 0.4rem;
    text-align: center;
    font-size: 1vw;
}

th {
    background: rgba(255, 255, 255, .1);
    color: white;
    font-size: 0.8vw;
}

.disclaimer {
    font-size: 0.5vw;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.map-box {
    display: flex;
    justify-content: space-evenly;
    padding: 0.75rem;
    border-radius: 3rem;
    width: 40%;
    height: 95%;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0 , 0, 0, .2);
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
}

.level-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    height: 75%;
    margin: 0rem 1rem;
}

.l1, .l2, .l3, .l4, .l5, .l6 {
    height: 100%;
    width: 20px;
}

.l1 {
    background-color: #7e0024c7;
    border-radius: 2rem 2rem 0rem 0rem;
}

.l2 {
    background-color: #660099c7;
}

.l3 {
    background-color: #cc0033c7;
}

.l4 {
    background-color: #ff9933c7;
}

.l5 {
    background-color: #ffde33c7;
}

.l6 {
    background-color: #009966c7;
    border-radius: 0rem 0rem 2rem 2rem;
}

svg {
    width: 28;
    width: auto;
}

svg * {
    width: 100%;
    height: 100%;
}

.sri-lanka-map {
    height: 100%;
}

.sri-lanka-map path {
    stroke: rgb(1, 34, 78);
    fill: rgba(255, 255, 255, .1);
}

#LKA2448:hover,
#LKA2449:hover,
#LKA2450:hover,
#LKA2451:hover,
#LKA2452:hover,
#LKA2453:hover,
#LKA2454:hover,
#LKA2455:hover,
#LKA2456:hover,
#LKA2457:hover,
#LKA2458:hover,
#LKA2459:hover,
#LKA2460:hover,
#LKA2461:hover,
#LKA2462:hover,
#LKA2463:hover,
#LKA2464:hover,
#LKA2465:hover,
#LKA2466:hover,
#LKA2467:hover,
#LKA2468:hover,
#LKA2469:hover,
#LKA2470:hover,
#LKA2471:hover,
#LKA2472:hover {
    fill: rgba(255, 255, 255, 0.514);
    transition: all 0.5s ease;
    cursor: pointer;
}

/* Tabs and Mobile Resolution */
@media (max-width: 1050px) {

    html,
    body {
        height:auto!important;
        min-height:100vh;
        min-width: 100vw;
    }

    .topnav h1 {
        font-size: clamp(0.75rem,  5vw, 1rem);
    }

    .main-container {
        margin: 5% 0;
        flex-direction: column-reverse;
        min-height: auto;
    }

    .map-box {
        margin-bottom: 2.5%;
        width: 90%;
    }

    .level-list {
        height: 40vh;
    }

    .l1, .l2, .l3, .l4, .l5, .l6 {
        width: 10px;
    }

    .info-section {
        width: 90%;
        height: auto;
    }

    .city-name {
        font-size: clamp(0.5rem,  6vw, 2.2rem);
        margin-bottom: 2%;
    }

    .aqi-text, .level-text{
        font-size: clamp(0.75rem,  3vw, 1.9rem);
    }

    .guide {
        margin-bottom: 4%;
        font-size: clamp(0.9rem, 3vw, 1.25rem);
    }
    
    .description {
        font-size: clamp(0.7rem, 1.2vw, 1.25rem);
        height: auto;
        margin: auto;
    }

    .description li {
        padding-bottom: 4%;
    }

    td, th {
        font-size: clamp(0.5rem,  1vw, 0.8rem);

    }
    
    th {
        font-size: clamp(0.4rem,  0.8vw, 0.9rem);

    }

    .disclaimer {
        font-size: 0.4rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    footer h1 {
        font-size: clamp(0.75rem,  5vw, 0.8rem);
    }
}

/* 1440P Resolution */
@media (min-width: 2560px) {

    .info-section {
        border-radius: 6rem;
    }

    .details-container {
        border-radius: 0rem 0rem 6rem 6rem;
    }

    .city-container {
        border-radius: 6rem 6rem 0rem 0rem;
    }

    .guide {
        font-size: clamp(0.75rem,  2vw, 2.8rem);
    }

    .description {
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }

    td, th {
        padding: 0.7rem;
    }

    .disclaimer {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .map-box {
        border-radius: 6rem;
    }

    .l1, .l2, .l3, .l4, .l5, .l6 {
        width: 30px;
    }

    svg {
        width: 74%;
    }
}

/* 4K Resolution */
@media (min-width: 3840px) {

    .info-section {
        border-radius: 9rem;
    }

    .details-container {
        border-radius: 0rem 0rem 9rem 9rem;
    }

    .city-container {
        border-radius: 9rem 9rem 0rem 0rem;
    }

    .guide {
        font-size: clamp(0.75rem,  2vw, 3.8rem);
    }

    .description {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    td, th {
        padding: 0.7rem;
    }

    .disclaimer {
        margin-top: 2.5rem;
        margin-bottom: 2rem;
    }

    .map-box {
        border-radius: 9rem;
    }

    .l1, .l2, .l3, .l4, .l5, .l6 {
        width: 40px;
    }

    svg {
        width: 65%;
    }
}